@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <h2>Sistema De Facturacion 1.1.7</h2>
    <p>Desarrolladores Abrahan & Delvin  </p>
</div>
